/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    .company_text p {
        padding-right: 50px;
    }

}


/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    .navbar.navbar-expand-lg.navbar-light.main_menue {
        padding: 20px;
    }

    .main_menue .navbar-nav .nav-item .nav-link {
        padding: 20px 31px;
    }

    .toggle_bars {
        display: none;
    }

    .navbar-toggler {
        color: #f1f1f1 !important;
    }

    .single_content h4 {
        padding-top: 130px;
    }

    .single_content {
        padding-bottom: 60px;
    }

    .right_btn {
        right: 40px;
    }

    .left_btn {
        left: 40px;
    }

    .single_card h3 {
        margin-bottom: 40px;
    }

    .single_service {
        height: 345px;
        width: 345px;
    }

    .pt_res {
        margin-bottom: -130px;
    }

    .pt-work-res {
        padding-top: 30px;
    }

    .pt_work_last_res {
        padding-top: 30px;
    }

    .stuff_overlay p {
        margin-top: 600px;
    }

    .pl-brand_res {
        padding-left: 50px;
    }

    .footer_area .logo_txt p {
        padding-right: 10px;
    }

    .subscribe_area .input .input_text input {
        width: 167px;
    }

    .copy_right_txt {
        padding-top: 6px;
    }

    .post_area h3 {
        padding-bottom: 35px;
    }

    .subscribe_area h3 {
        padding-bottom: 35px;
    }

    .input {
        padding-top: 40px;
    }

}


/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    .navbar.navbar-expand-lg.navbar-light.main_menue {
        padding: 20px;
    }

    .main_menue .navbar-nav .nav-item .nav-link {
        padding: 20px 31px;
    }

    .toggle_bars {
        display: none;
    }

    .navbar-toggler {
        color: #f1f1f1 !important;
    }

    .single_content h4 {
        padding-top: 130px;
    }

    .single_content {
        padding-bottom: 60px;
    }

    .right_btn {
        right: 40px;
    }

    .left_btn {
        left: 40px;
    }

    .single_card h3 {
        margin-bottom: 40px;
    }

    .single_service {
        height: 345px;
        width: 345px;
    }

    .pt_res {
        margin-bottom: -130px;
    }

    .pt-work-res {
        padding-top: 30px;
    }

    .pt_work_last_res {
        padding-top: 30px;
    }

    .stuff_overlay {
        width: 100%;
    }

    .stuff_overlay p {
        margin-top: 450px;
    }

    .pl-brand_res {
        padding-left: 50px;
    }

    .footer_area .logo_txt p {
        padding-right: 10px;
    }

    .subscribe_area .input .input_text input {
        width: 450px;
    }

    .copy_right_txt {
        padding-top: 6px;
    }

    .post_area h3 {
        padding-bottom: 35px;
    }

    .subscribe_area h3 {
        padding-bottom: 35px;
    }

    .input {
        padding-top: 40px;
    }




    /*    small area responsive start*/





    .sm-res {
        margin-top: 160px;
        margin-bottom: 30px;
    }

    .header_common {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .work-sm-1 {
        margin-bottom: 30px;
    }

    .subscribe_area {
        margin-top: 33px;
    }

    .footer_end {
        text-align: center;
    }

    ul {
        text-align: center;
    }
}


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .navbar.navbar-expand-lg.navbar-light.main_menue {
        padding: 20px;
    }

    .main_menue .navbar-nav .nav-item .nav-link {
        padding: 20px 31px;
    }

    .toggle_bars {
        display: none;
    }

    .navbar-toggler {
        color: #f1f1f1 !important;
    }

    .single_content h4 {
        padding-top: 130px;
    }

    .single_content {
        padding-bottom: 60px;
    }

    .right_btn {
        right: 40px;
    }

    .left_btn {
        left: 40px;
    }

    .single_card h3 {
        margin-bottom: 40px;
    }

    .stuff_overlay {
        width: 100%;
    }

    .stuff_overlay p {
        margin-top: 200px;
    }

    .pt_res {
        margin-bottom: -130px;
    }

    .pt-work-res {
        padding-top: 30px;
    }

    .pt_work_last_res {
        padding-top: 30px;
    }

    .footer_area .logo_txt p {
        padding-right: 10px;
    }



    .copy_right_txt {
        padding-top: 6px;
    }

    .post_area h3 {
        padding-bottom: 35px;
    }

    .subscribe_area h3 {
        padding-bottom: 35px;
    }

    .input {
        padding-top: 40px;
    }




    /*    small area responsive start*/






    .sm-res {
        margin-top: 160px;
        margin-bottom: 30px;
    }

    .header_common {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .work-sm-1 {
        margin-bottom: 30px;
    }

    .subscribe_area {
        margin-top: 33px;
    }

    .footer_end {
        text-align: center;
    }

    ul {
        text-align: center;
    }



    /*    extra small responsive start*/



    .custom_container {
        padding: 0 15px;
    }

    .single_content h1 {
        font-size: 80px;
    }
    .single_service img {
        padding-top: 40px;
    }

    .single_service {
        height: 300px;
        width: 300px;
        margin-left: 10px;
    }

    .work_button button {
        padding-left: 12px;
    }

    .work_overlay h3 {
        padding-top: 35%;
    }

    .counter_up h1 {
        padding-top: 30px;
    }

    .counter_up p {
        padding-bottom: 30px;
    }

    .pl-brand_res {
        padding-left: 33px;
    }

    .company_text h3 {
        margin-left: 50px;
    }

    .company_text h4 {
        margin-left: 0px;
    }

    .company_text p {
        margin: 10px;
    }

    .subscribe_area .input .input_text input {
        width: 167px;
    }

    .post_area h3 {
        padding-top: 33px;
    }

    .footer_bar ul li {
        padding-left: 5px;
    }



}
